.editform-background {
	background-image: url("./EditTrip.jpg");
	height: 100%;
	width: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 925px;
}

.editform-background::before {
	content: "";
	background: rgba(6, 12, 34, 0.8);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#form-trip select {
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
	border-radius: 0;
	color: #fff;
}

#form-trip select:focus {
	color: #fff;
	background-color: rgba(255, 255, 255, 0);
}