#banner-trip {
    width: 100%;
    
    top: 30px;
    position: relative;
    display: block;
    justify-content: center;
    }
    .carousel-item img {
        object-fit: cover;
        object-position: center;
        height: 80vh;
        overflow: hidden;
    }